cloud_id                 = "b1gobvlqweugfce13wqec8tujp51"
folder_id                = "b1gsctj8qeqwebhd7q8md5uf1"
image_id                 = "fd82vnrqp917ca75n1ip"
subnet_id                = "e9b1ng7dq0d58a25ana4"
public_key_path          = "~/.ssh/appuser.pub"
service_account_key_file = "./key.json"
private_key              = "~/.ssh/appuser"
